__pycache__/sys_identfy.cpython-36.pyc
*.pyc
.vscode/launch.json
*.json
*.coverage
.ipynb_checkpoints/
.ipynb_checkpoints
__pycache__/
# Sphinx
docs/_build
docs/build
site/
# Pycharm editor project files
.idea
logs.log
# for virtual environment
venv/
env/

# Packages/installer info
*.egg
*.egg-info
dist/
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
distribute-*.tar.gz
pip-wheel-metadata

# VS Code
.vscode
.pylintrc
# default pytest cache directory
*/.pytest_cache
.pytest_cache/
catboost_info/
sysidentpy.code-workspace
examples/data/
raw.githubusercontent.com/
/qodana.yaml
